{% extends 'base.html.twig' %}

{% block title %}Mon compte - sortir.com{% endblock %}

{% block content %}
    <h1> Mon compte</h1>
<!-- ajouter le app.user.firstname -->
    Bienvenue {{ app.user.prenom}} dans votre compte
    <hr>
    - prenom
    <hr>
    - nom
    <hr>
    -téléphone
    <hr>
    -email
    <hr>
    -campus





{% endblock %}

